body {
	background: #333333;
	text-align: center;
	margin: 50px;
}
div {
	color: ; 
	background: #DDDDDD; 
	width: 400px; 
	border: 7px #ffc40c solid;
	text-algin: center;
}
h1 { 
	margin: 20px; 
	border: 2px solid red; 
	background: rgb(255,255,155); 
} 
