body {
	background: #333333;
	text-align: center;
	margin: 50px;
}
.divy {
	color: ; 
	background: #DDDDDD; 
	width: 400px; 
	border: 5px #ffc40c solid;
	text-algin: center;

}
h1 { 
	margin: 20px; 
	border: 2px solid red; 
	background: rgb(255,255,155); 
} 
    ::-webkit-scrollbar {
        width: 30px;
        background-color: #FFFFFF;
    }

    /* Kolor tracka (tła scrollbar) AA66FF*/
    ::-webkit-scrollbar-track {
         background-image: linear-gradient(black, orange);
    }

    /* Kolor thumba (przewijającego się elementu) */
    ::-webkit-scrollbar-thumb {
        background-color: #000000;
        border-radius: 6px;
        background-image: url("scroll.jpg"); /* Ścieżka do obrazka */
        background-repeat: no-repeat;
        background-position: center;
    }
}
.textshadow {
	text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
}
.links {
   	display: none;
}
.links2 {
   	display: none;
}
