body {
	background: #E4E4D0;
	text-align: center;
	margin: 50px;
}
div {
	color: rgb(0,0,0); 
	background: #FFEEF4; 
	width: 400px; 
	border: 3px black solid;
	text-algin: center;
}
h1 { 
	margin: 20px; 
	border: 2px solid red; 
	background: rgb(255,255,155); 
} 
.scrollbar {
  background-color: #E4E4D0;
  overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, black, green, white);
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #E4E4D0;
}
